.attendance-list{
    max-width: 900px;
    margin: 60px auto;
    text-align: left;
}

.attendance-list__heading {
    border-left: 5px solid #000;
    padding-left: 15px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

.attendance-list__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
    position: relative;
    z-index: 20;
}

/* ページネーション */
.nav-button{
    color: #6c6b6b;
    font-weight: bold;
    letter-spacing: 2px;
    text-indent: 2px;
    text-decoration: none;
}

/* 年月選択カレンダー */
.month-picker {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* padding: 5px 10px; */
}

.hidden-month-input {
    position: absolute;
    width: 1px;/* 完全に消すと動作しないブラウザがあるため、1pxだけ残して透明にする */
    height: 1px;
    opacity: 0;
    pointer-events: none;
}

.month-display {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
}

.calendar-trigger-icon{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* テーブル */
.attendance-table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    letter-spacing: 2px;
    text-indent: 2px;
}

.attendance-table th,
.attendance-table td {
    padding: 15px 20px;
    text-align: center;
    color: #6c6b6b;
    font-weight: bold;
}

.attendance-table th:first-child,
.attendance-table td:first-child {
    padding-left: 30px;
}

.attendance-table th:last-child,
.attendance-table td:last-child {
    padding-right: 30px;
}

.attendance-table th{
    border-bottom: 5px solid #eee;
}

.attendance-table td {
    border-bottom: 3px solid #eee;
}

.attendance-table__detail-link{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

